.App {
  text-align: center;
}

.mic {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  border-radius: 50%;
  border: 5px solid black;
}
.mic.on {
  background-image: url("./mic-on.svg");
  background-color: red;
}
.mic.off {
  background-image: url("./mic-off.svg");
  background-color: white;
}
