* {
  box-sizing: border-box;
}

html, body, #root, .App {
  height:100%;
}

p {
  margin:0;
  padding:0;
}

:root {
  /* word list page vars */
  --word-width: 150px;
  --type-width: 100px;
  --button-width: 100px;
  /* color vars */
  --mic-color: rgb(195, 33, 33);
  --nav-color: rgb(59, 163, 181);
  --bg-color:rgb(197, 111, 58);
  --text-color: white;
}

.App {
  position: relative;
  width:100%;
  max-width: 450px;
  padding:45px 20px 80px 20px;
  background-color: var(--bg-color);
  overflow: hidden;
  color:var(--text-color);
}

.content-row {
  width: 100%;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content-row.around {
  justify-content: space-around;
}
.content-row.header {
  position:absolute;
  top:0;
  left:0;
  height:45px;
  padding:5px 20px;
  background-color: var(--nav-color);
}
.content-row.header.error-banner {
  background-color: var(--mic-color);
}

.nav {
  position: absolute;
  bottom: 0;
  left:0;
  width:100%;
  height:80px;
  padding:0 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
}
.nav-item {
  height:100%;
  width:80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
}
.nav-item.active {
  background-color: var(--nav-color);
}
.nav-item.word-list {
  background-image: url("./img/book.svg");
}
.nav-item.word-list.active {
  background-image: url("./img/book-active.svg");
}
.nav-item.practice {
  background-image: url("./img/mic.svg");
}
.nav-item.practice.active {
  background-image: url("./img/mic-active.svg");
}
.nav-item.chat {
  background-image: url("./img/chat.svg");
}
.nav-item.chat.active {
  background-image: url("./img/chat-active.svg");
}

.word-list-body {
  height: 100%;
  padding: 5px 0 15px;
  overflow: auto;
}
input, select, button {
  height:30px;
  margin:0;
  border: 3px solid white;
}
input {
  padding: 0 5px;
}
input, .word-list-word {
  width:var(--word-width);
}
select, .word-list-type {
  width: var(--type-width);
}
button {
  width: var(--button-width);
}

.pointer, button, .nav-item {
  cursor: pointer;
  min-width:30px;
  min-height:30px;
}

button {
  background-color: var(--nav-color);
  color:white;
  font-weight: bold;
}

.mic {
  position: absolute;
  /* 20px above the nav bar */
  bottom: 100px;
  right: 20px;
  width: 150px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  border-radius: 50%;
  border: 5px solid black;
}
.mic.on {
  background-image: url("./img/mic-active.svg");
  background-color: var(--mic-color);
}
.mic.off {
  background-image: url("./img/mic.svg");
  background-color: white;
}

.practice-body, .chat-body {
  /* The whole of the screen, less the microphone. */
  height: calc(100% - 180px);
  overflow: auto;
  padding: 5px 0 10px;
  box-shadow: inset 0px -10px 15px -15px rgba(0,0,0,0.75);
}
.word-prompt {
  background-color: var(--nav-color);
  border: 3px solid white;
  padding:0px 5px 2px 5px;
}
.history-item {
  margin-top:10px;
  padding-top:10px;
  border-top: 3px dashed white;
}
.speech-result {
  width:400px;
  max-width: 100%;
  margin:auto;
  margin-top: 10px;
  text-align: left;
  position: relative;
}
.speech-result .heading {
  width:100px;
  padding:0px 5px 2px 5px;
  border: 1px solid white;
  border-bottom: none;
}
.speech-result .body {
  padding:0px 5px 2px 5px;
  border: 1px solid white;
}
.text-clickable {
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  text-align: right;
}

.p-0 {
  padding: 0;
}
.m-0 {
  margin: 0;
}
.mt-10 {
  margin-top:10px;
}